@import "../utils/mixins";
.swiper {
  width: 100%;
  height: 100%;
  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .banner-bg {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    // max-width: 100%;
    width: 100%;
    max-height: auto;
    margin-top: -96px; /* 往上 */
    .banner-box {
      max-width: 100%;
      width: 784px;
      color: #fff;
      margin-top: 367.5px;
      margin-bottom: 367.5px;
      background-color: rgba(0, 0, 0, 0.6);
      border-radius: 60px 0 60px 0;
      @include pc-lg {
        margin-top: 216px;
        margin-bottom: 216px;
        width: 75%;
      }
      @include pad-md {
        margin-bottom: 0px;
      }
      @include mobile-L {
        width: 312px;
      }
    }
  }
  .banner-img3 {
    background-image: url("@/assets/img/pic-5-2.webp");
    position: relative;
    object-fit: cover;
    width: 1920px;
    height: auto;
    @include pc-lg {
      background-image: url("@/assets/img/pic-5-2-lg.webp");
      width: 992px;
      height: auto;
    }
    @include mobile {
      background-image: url("@/assets/img/pic-5-2-sm.webp");
      width: 375px;
      height: auto;
    }
  }
  .banner-img2 {
    background-image: url("@/assets/img/pic-cijin shells.webp");
    position: relative;
    object-fit: cover;
    width: 1920px;
    height: auto;
    @include pc-lg {
      background-image: url("@/assets/img/pic-cijin shells-lg.webp");
      width: 992px;
      height: auto;
    }
    @include mobile {
      background-image: url("@/assets/img/pic-cijin shells-sm.webp");
      width: 375px;
      height: auto;
    }
  }
  .banner-img1 {
    background-image: url("@/assets/img/banner-bg.webp");
    position: relative;
    object-fit: cover;
    width: 1920px;
    height: auto;
    @include pc-lg {
      background-image: url("@/assets/img/banner-bg-lg.webp");
      width: 992px;
      height: auto;
    }
    @include mobile {
      background-image: url("@/assets/img/banner-bg-sm.webp");
      width: 375px;
      height: auto;
    }
  }
  .swiper-button-next {
    color: #fff;
    width: 80px;
    height: 80px;
    right: 3%;
    @include pad-sm {
      display: none;
    }
  }
  .swiper-button-prev {
    color: #fff;
    width: 80px;
    height: 80px;
    left: 3%;
    @include pad-sm {
      display: none;
    }
  }
  .swiper-pagination {
    bottom: 3%;
  }
  .icon-map {
    font-size: 32px;
    @include pad-md {
      font-size: 16px;
    }
  }
}
