.heart3 {
  padding: 6px 7px;
  color: $primary-400;
  position: absolute;
  right: 16px;
  top: 16px;
  background: white;
  border-radius: 48px;
  font-size: 32px;
  line-height: 1 !important;
  z-index: 3;
}
