.heart3 {
  padding: 7px 6px 6px 6px;
  color: $primary-400;
  position: absolute;
  right: 16px;
  top: 16px;
  background: white;
  border-radius: 48px;
  line-height: 1 !important;
  z-index: 3;
}
.heart {
  padding: 7px 6px 6px 6px;
  color: $primary-400;
  position: absolute;
  right: 16px;
  top: 16px;
  background: white;
  border-radius: 48px;
  line-height: 1 !important;
  z-index: 3;
}