.mySwiper4 {
  height: 100%;
  padding: 50px 40px 50px 30px;
  @media (max-width: 768px) {
    padding: 30px 0;
  }
  .swiper-slide {
    min-width: 350px;
    min-height: 300px;
    height: auto; /* 修改高度為自動 */
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      height: 210px;
      display: block;
      object-fit: cover;
      border-radius: calc(1.25rem - 1px) calc(1.25rem - 1px) 0 0;
    }
  }
  .swiper-button-next {
    color: #0ea0a6 !important;
    top: 45%;
    right: -20px;
  }
  .swiper-button-prev {
    color: #0ea0a6 !important;
    top: 45%;
    left: -20px;
  }
}
