/* noto-sans-tc-100 - chinese-traditional */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 100;
  src: url('@/assets/fonts/noto-sans-tc-v35-chinese-traditional-100.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* noto-sans-tc-200 - chinese-traditional */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 200;
  src: url('@/assets/fonts/noto-sans-tc-v35-chinese-traditional-200.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* noto-sans-tc-300 - chinese-traditional */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 300;
  src: url('@/assets/fonts/noto-sans-tc-v35-chinese-traditional-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* noto-sans-tc-regular - chinese-traditional */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 400;
  src: url('@/assets/fonts/noto-sans-tc-v35-chinese-traditional-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* noto-sans-tc-500 - chinese-traditional */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 500;
  src: url('@/assets/fonts/noto-sans-tc-v35-chinese-traditional-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* noto-sans-tc-600 - chinese-traditional */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 600;
  src: url('@/assets/fonts/noto-sans-tc-v35-chinese-traditional-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* noto-sans-tc-700 - chinese-traditional */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 700;
  src: url('@/assets/fonts/noto-sans-tc-v35-chinese-traditional-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* noto-sans-tc-800 - chinese-traditional */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 800;
  src: url('@/assets/fonts/noto-sans-tc-v35-chinese-traditional-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* noto-sans-tc-900 - chinese-traditional */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 900;
  src: url('@/assets/fonts/noto-sans-tc-v35-chinese-traditional-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}